@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Kaisotai Next";
  src: url("/font/Kaisotai-Next-UP-B.woff2") format("woff2");
}

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@theme {
  --color-base: #1b339b;
  --color-base-dark: #192085;
  --color-main: #3ce0e8;
  --color-secondary: #f6f8ff;
  --color-button-line: #3ce0e8;
  --color-button-start: #7b61ff;
  --color-button-end: #624ecc;
  --color-font-main: #f6f8ff;
  --color-accent: #ff5bef;

  --font-kaisotai: "Kaisotai Next", sans-serif;
  --font-goldman: "Goldman", sans-serif;
  --font-sans: "Zen Kaku Gothic New", sans-serif;
  --default-font-family: var(--font-sans);

  --text-title: 28px;
  --text-title--font-weight: 700;
  --text-title-large: 36px;
  --text-title-large--font-weight: 700;
  --text-title-small: 20px;
  --text-title-small--font-weight: 500;
  --text-button: 16px;
  --text-button--font-weight: 700;

  --text-text: 16px;
  --text-text--line-height: 20px;
  --text-text--font-weight: 500;
  --text-text-large: 18px;
  --text-text-large--line-height: 22px;
  --text-text-large--font-weight: 500;
  --text-text-small: 12px;
  --text-text-small--font-weight: 500;

  --text-Ptitle: 36px;
  --text-Ptitle--font-weight: 700;
  --text-Ptitle-small: 22px;
  --text-Ptitle-small--font-weight: 700;
  --text-Pbutton: 18px;
  --text-Pbutton--font-weight: 700;

  --text-Ptext: 18px;
  --text-Ptext--line-height: 28px;
  --text-Ptext--font-weight: 500;
  --text-Ptext-large: 20px;
  --text-Ptext-large--line-height: 32px;
  --text-Ptext-large--font-weight: 500;

  --spacing-ss: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 28px;
  --spacing-ll: 32px;
  --spacing-3l: 40px;
  --spacing-4l: 60px;
  --spacing-5l: 80px;
  --spacing-pm: 120px;
  --spacing-pl: 200px;
  --spacing-pll: 240px;
}

.button-gradient {
  background: linear-gradient(
    to bottom,
    var(--color-button-start) 20%,
    var(--color-button-end) 100%
  );
}
